* {
	font-family: 微軟正黑體;
}

h1 {
	color: blue;
}

h2 {
	border-left: 5px solid red;
	border-bottom: 5px solid red;
}

p {
	text-indent: 36px;
	font-weight: bold;
}

a {
	color: red;
}

a:hover {
	color: blue;
}

li {
	line-height: 1.5;
}

img {
	border: 5px solid grey;
	padding: 30px;
}

img:hover {
	border: 5px solid pink;
}

.title {
	font-weight: bold;
}

.midline {
	text-decoration: line-through;
}